doctype 5
html(ng-app='mathic')
    head
        title= 'Mathic'
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        //- link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        //- link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Raleway', type='text/css')
    body
        div.container
            block content
        // script(src='javascripts/bootstrap.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js')
        script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js")
        script(src='javascripts/angularapp.js')
        script(src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.js")

